
body {
  background-color: #313131;
  height: 100vh;
  margin: 0;
}

main {
  border:1vh solid black;
  border-radius: 4vh;
  height:52vh;
  color:rgb(200, 200, 200);
  box-shadow: 0 0 0 20px black;
  display: flex;
  align-items: center;
}
header,footer {
  background: lightgrey;
  border-style: outset;
  border-width: 8px;
  min-height: 50px;
  z-index: 1;
}
h1 {
  display: flex;
  align-items: flex-start;
  height: 4vmin;
}
article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer {
  display: flex;
  flex-direction: column;
  margin-top:auto;
}

.text {
  font-family: "Press Start 2P",sans-serif;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  font-size: 2vmax;
}


.titlePlacement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30vmax;
  height:10vmin;
  border-style: outset;
  border-radius: 10px;
}
.scoreCounter {
  font-family: "Press Start 2P",sans-serif;
  margin: 10px;
  padding: 10px;
  font-size: 2.5em;
  color: #cb3535;
  border-style: inset;
  width: 80px;
  display: flex;
  justify-content: center;
  background-color: #333030;
}
.scoreBoard {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.bodyStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.WText {
  color: antiquewhite;
}




