body {
  background-color: #9874e3;
  
}
header {
  background: lightgrey;
  border-style: outset;
  border-width: 8px;
}
main {
  flex-direction: column;
  display: flex;
}
h1 {
  font-family: "Press Start 2P";
  border-style: outset;
  border-radius: 10px;
  width: 450px;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 10px;
  padding-top: 20px;
}
.text {
  font-family: "Press Start 2P";
  border-style: outset;
  border-radius: 10px;
  width: 450px;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 10px;
  padding-top: 20px;
}

.titlePlacement {
  display: flex;
  justify-content: center;
}
article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer {
  display: flex;
  flex-direction: column;

}
.scoreCounter {
  font-family: "Press Start 2P";
  margin: 10px;
  padding: 10px;
  font-size: 2.5em;
  color: #cb3535;
  border-style: inset;
  width: 80px;
  display: flex;
  justify-content: center;
  background-color: #333030;
}
.scoreBoard {
  display: flex;
  justify-content: space-evenly;
}
.bodyStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 250px;
}
.WText {
  color: antiquewhite;
}




