body {
  background-color: #9874e3;
  
}
header {
  background: lightgrey;
  border-style: outset;
  border-width: 8px;
}
main {
  flex-direction: column;
  display: flex;
}
h1 {
  border-style: outset;
  border-radius: 10px;
}
.titlePlacement {
  display: flex;
  justify-content: center;
}
article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer {
  display: flex;

}
.scoreCounter {
  font-family: "VT323";
  margin-top: inherit;
  margin-bottom: inherit;
  font-size: 5em;
  color: #cb3535;
  border-style: inset;
  width: 50px;
  display: flex;
  justify-content: center;
  background-color: #333030;
}
.scoreBoard {
  display: flex;
  justify-content: space-evenly;
}
.bodyStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 250px;
}
.WText {
  color: antiquewhite;
}




